 <footer class="text-white pt-5 pb-4">
   <div class="container mt-5">
     <div class="row no-gutters">
       <div class="col-md-4">
         <%= image_tag('') %>
        </div>
        <div class="col-md-8">
          <h3 style="font-family: cursive;">Nagano Cake</h3>
        </div>
      </div>
    </div>
  </footer>





